
<h3><a class="btn btn-secondary" href="/add"><i class="fa fa-plus"></i> Create New</a> User List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone Number</th>
            
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.username}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            
            <td>
                <form class="update-form" action="/user/{{this.user_id}}" method="get" data-id="{{this.user_id}}">
                    <input type="hidden" name="_method" value="put">
                    <button type="submit"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></button>
                </form>
                <a href="#" class="delete-user" data-id="{{this.user_id}}"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
            {{!-- <td>        
                <form class="update-form" action="/user/{{this.id}}" method="get">
                    <input type="hidden" name="_method" value="put">
                    <button type="submit"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></button>
                </form>
                <a href="/user/delete/{{this.id}}" class="delete-user"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                              
                
            </td> --}}
            
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>
<script>
    function setupDeleteUserEvent() {
        $('.delete-user').on('click', function(e) {
            e.preventDefault();
            console.log($(this).attr('data-id'));
            let userId = $(this).attr('data-id');
            console.log (userId);
            if (confirm('Are you sure to delete this user?')) {
                $.ajax({
                    url: `/user/delete/${userId}`,
                    type: 'DELETE',
                    success: function(result) {
                        // Do something with the result
                        location.reload();
                    }
                });
            }
        });
    }

    $(document).ready(function() {
        setupDeleteUserEvent();
    });
</script>