<h3>{{viewTitle}}</h3>

<form action="/add" method="POST" autocomplete="off">
    
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" placeholder="Username" value="{{add.username}}" required>
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email" value="{{add.email}}" required>
    </div>

    <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control" name="password" placeholder="Password" value="{{add.password}}" required>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Fist Name</label>
            <input type="text" class="form-control" name="first_name" placeholder="Fist Name" value="{{add.first_name}}">
        </div>
        <div class="form-group col-md-6">
            <label>Last Name</label>
            <input type="text" class="form-control" name="last_name" placeholder="Last Name" value="{{add.last_name}}">
        </div>
    </div>

    <div class="form-group">
        <label>Phone Number</label>
        <input type="text" class="form-control" name="phone" placeholder="Phone Number" value="{{add.phone}}" required>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/user" ><i class="fa fa-list-alt"></i> View All</a>
    </div>
    
</form> 